window {
font: 1.0em "JetBrainsMono Nerd Font", mono;
margin: 0px;
border: 2px solid #8ff0a4;
border-radius: 10px;
background-color: #595959;
}

#input {
margin: 5px;
border: none;
color: #f8f8f2;
background-color: #505050;
}

#inner-box {
margin: 5px;
border: none;
background-color: #595959;
}

#expander-box {
margin: 5px;
border: none;
background-color: #4c4c4c;
}

#outer-box {
margin: 5px;
border: none;
background-color: #595959;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #f8f8f2;
} 

#entry.activatable #text {
color: #f8f8f2;
}

#entry > * {
color: #f8f8f2;
}

#entry:selected {
background-color: #505050;
}

#entry:selected #text {
font-weight: bold;
}
